<div>
    <h1>Corey's Colour Journal</h1>
</div>

<button><a href="/miniatures/">My Projects</a></button>
<button><a href="/paints/">Paint Inventory</a></button>
<button><a href="#">Browse by Topic</a></button>
<button><a href="#">My Collections</a></button>