<div>
    <h1>Colour Journal</h1>
</div>

<button class="home-btn"><a href="/miniatures/">My Projects</a></button>
<button class="home-btn"><a href="/paints/">Paint Inventory</a></button>
<button class="home-btn"><a href="#">Browse by Topic</a></button>
<button class="home-btn"><a href="#">My Collections</a></button>