<div class="header">
    <div class="nav"><a href="/">Home</a></div>
    <h1>My Projects</h1>
    <div class="nav"><a href="/miniatures/new">New Project</a></div>

</div>

<div class="items-container">
    <ul class="list-items">
        {{#each miniatures}}
        <li>
            <img class="thumbnail" src="{{this.image}}" width="10%">
            <br>
            <a href="/miniatures/{{this.id}}">{{this.title}}</a>
        </li>
        {{/each}}
    </ul>
</div>