<h2>New Miniature:</h2>

<form action="/miniatures/" method="post" accept-charset="utf-8">
    <p>
        <label>Title:</label>
        <input type="text" name="title">
        <label>Image:</label>
        <input type="text" name="image">
        <label>Categories:</label>
        <input type="text" name="category">

        <label>Notes:</label>
        <textarea type="text" name="notes"></textarea>

    </p>
    <input type="submit" value="Create">
</form>

<button><a href="/miniatures/">Cancel</a></button>