<h2>New Paint:</h2>

<form action="/paints/" method="post" accept-charset="utf-8">
    <p>
        <label>name:</label>
        <input type="text" name="name">
    </p>
    <input type="submit" value="Create">
</form>