<h2>New Miniature:</h2>

<form action="/miniatures/" method="post" accept-charset="utf-8">
    <p>
        <label>Title:</label>
        <input type="text" name="title">
    </p>
    <input type="submit" value="Create">
</form>