<div class="header">
    <a href="/paints/">Paints</a>
    <h1>New Paint:</h1>
</div>

<form action="/paints/" method="post" accept-charset="utf-8">

    <label>Name:</label>
    <input type="text" name="name">
    <label>Made by:</label>
    <input type="text" name="mfr">
    <label>Color:</label>
    <input type="text" name="color">
    <label>Notes:</label>
    <textarea type="text" name="notes"></textarea>

    <input type="submit" value="Create">
</form>

<a href="/paints/">Cancel</a>