<h2>New Paint:</h2>

<form action="/paints/" method="post" accept-charset="utf-8">
    <p>
        <label>Name:</label>
        <input type="text" name="name">
        <label>Made by:</label>
        <input type="text" name="mfr">
        <label>Color:</label>
        <input type="text" name="color">
    </p>
    <input type="submit" value="Create">
</form>

<button><a href="/paints/">Cancel</a></button>