<h1>Corey's Paints</h1>

<ul>
    {{#each paints}}
    <li>
        <a href="/paints/{{this.id}}">{{this.name}}</a>
    </li>
    {{/each}}
</ul>

<button><a href="/paints/new">Add new</a></button>
<button><a href="/miniatures/">Back to Minis</a></button>