<div class="header">
    <button><a href="/users/">Home</a></button>
    <h1>My Paints</h1>
    <button><a href="/paints/new">Add</a></button>
</div>

<ul>
    {{#each paints}}
    <li>
        <a href="/paints/{{this.id}}">{{this.name}}</a>
    </li>
    {{/each}}
</ul>