<div class="header">
    <a href="/">Home</a>
    <h1>My Paints</h1>
    <a href="/paints/new">Add</a>
</div>

<ul>
    {{#each paints}}
    <li>
        <a href="/paints/{{this.id}}">{{this.name}}</a>
    </li>
    {{/each}}
</ul>